@import "./roboto";

#navigateTo,
#pageIndex {
    height: 35px;
}

#pageIndex {
    width: 40px;
    box-sizing: border-box;
}

:root {
    --grey: #535353;
    --green: #1efd92;
    --red: #e53222;
    --blue: #284eb2;
    --darkblue: #15329a;
    --white: #ffffff;
    --text-opacity: 1;
}

.container {
    max-width: 1290px;
    padding: 0 20px;
    margin: 0 auto;
}

* {
    // color     : white;
    margin: 0;
    box-sizing: border-box;
}

a:hover {
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

body {
    // background-color: var(--grey);
    // background-color: transparent;
    font-family: Roboto;
    height: 100vh;
    font-size: 14px;
    color: #888;
    font-weight: 400;
    background: transparent;
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .container {
        padding: 0 16px;
    }
}

.css-pdct74-MuiTablePagination-selectLabel {
    margin-bottom: 0px;
}

.css-levciy-MuiTablePagination-displayedRows{
    margin-bottom: 0px;
}

.css-1chpzqh {
    margin-bottom: 0px;
}

.react-confirm-alert-overlay {
    background: none !important;
}
    
.custom_alert {
    width: 380px;
    height: auto;
    background: #fff;
    border: 1px solid black;
    border-radius: 30px;
    padding: 30px;

    & > h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #b70000;
    font-size: 66px;
    margin-bottom: 15px;
    }

    & > p {
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #444;
    }

    .btn_group {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    }
}

.cursor-pointer {
    cursor: pointer;
}
.d-none {
    display: none;
}

.rsc-header-title {
    color: white;
}

.irVAyR{
    border-radius: 15px !important;
    max-width: 75% !important;
    margin: 0px !important;
}

.kYDgPK{
    border-radius: 15px !important;
    max-width: 75% !important;
    margin: 10px 0px 0px 40px !important;
}

.gZgluK {
    padding: 7px 15px !important;
    font-weight: 500 !important;
    background: #ffffff !important;
    border: 1px solid #162f5c !important;
    border-radius: 4px !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px !important;
    color: #162f5c !important;
    display: inline-block !important;
    font-size: 14px !important;
    box-shadow: initial !important;
    margin-top: 4px !important;
}

.kYzrmH {
    animation: 0.3s ease 0s 1 normal forwards running gZmgDU;
    background: #162f5c !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px !important;
    color: #FFFFFF !important;
    display: inline-block;
    font-size: 14px;
    max-width: 50%;
    margin: 10px 0px 10px !important;
    overflow: hidden;
    position: relative;
    transform: scale(0);
    transform-origin: right bottom;
    padding: 7px 13px;
    border-radius: 15px !important;
}

.cYWyjJ {
    border-radius: 50%;
}

.color-white {
    color: white;
}

.margin-0 {
    margin: 0px;
}

.fs-15{
    font-size: 15px;
}

.header-bar {
    -webkit-box-align: center;
    align-items: center;
    background: rgb(22, 47, 92);
    color: rgb(255, 255, 255);
    display: flex;
    fill: rgb(255, 255, 255);
    height: 56px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 10px;
}

.open-chatbox {
    z-index: 10;
    position: fixed;
    bottom: 1rem;
    left: auto;
    right: 0.1rem;
    cursor: pointer;
    display: block;
}